<div class="copy">

  <div class="copy-header">
    <div class="inner-copy">
      <h1>Company</h1>
      <p>
        We started KnuVu because we found it to be a super useful decision tool that delivered a minimum of 10x
        anticipated benefit in over 300 deployments and we didn’t want to keep the methodology to ourselves. Our
        core values are Altruism, Respect, High-Minded Interaction, and a Passion for Learning and A+ Work.
      </p>
    </div>
  </div>

  <div class="copy-body">
    <div class="inner-copy">
      <p>
        You’ll see aspects of those values in our business model, our interactions, and our output. We ask
        ourselves each day, at the beginning of each conversation and each engagement, “How can we be of greatest service”
        to you and in turn (as well as) how we can be of greatest benefit to the world/mankind.
      </p>
      <p>
        <strong><em>We know this philosophical approach betrays our West Coast roots, but we’re not embarrassed to put
        it out there and ask you to hold us accountable to these values. We like to say, “We’re glad you like
        what we say, but more importantly, watch what we do.”</em></strong> <a href="https://twitter.com/michaelpsilva">@michaelpsilva</a>
      </p>
    </div>
  </div>

</div>