<div class="copy">
  <div class="copy-header">
    <div class="inner-copy">
      <h1>Board of Directors</h1>
      <p>
        We started KnuVu because we found it to be a super useful decision tool that delivered a minimum of 10x
        anticipated benefit in over 300 deployments and we didn’t want to keep the methodology to ourselves. Our
        core values are Altruism, Respect, High-Minded Interaction, and a Passion for Learning and A+ Work.
      </p>
    </div>
  </div>

  <div class="copy-body">
    <div class="inner-copy">
      <p>
        <strong>Mike Silva:</strong> Mike Silva is a Mobile & Emerging Technologies Strategy Consultant to startups,
        Carriers, NEPs, and F100s. He is founder and inventor of KnuVu, a heatmapping strategy tool used for Innovation,
        Corporate Development, & Strategy. Mike grew up with the Silicon Valley and after an early career in accounting,
        finance, and IT, earned a Masters of Science in Finance with honors. Mike was the CFO of VPC, an early Speech
        Recognition pioneer where he met Randy Granovetter on a business visit from Jabra and later went to work with
        Randy as VP Strategy for Jabra. Mike left Jabra to fund and lead to Video over IP companies to exits before
        founding brauning, LLC, a mobile and emerging technologies strategy boutique with 20 consultants with offices
        in NY, SF, SEA, & San Diego whose clients included all the Carriers, Qualcomm, Microsoft, Ericsson, Alcatal-Lucent
        and many mobile upstarts such as Openwave. Mike’s approach to strategy has always layered a foundation of Michael
        Porter’s Competitive Strategy with deep domain expertise and hands-on front-line experience and execution:
      </p>
      <ul>
        <li>At VPC he programmed the first drive-through application for a McDonald’s trial;</li>
        <li>
          At Jabra he borrowed technicians’ PCs after hours and trialed 40+ soundboards to invent the first
          universal microphone and audio jack adapter (and was later banned from the lab);
        </li>
        <li>
          Mike was the first to send Video streams to EU and Asia (he also pulled them back) by setting up a global
          ATM network for the Grammys in 1996 which subsequently became the prototype for CDNs;
        </li>
        <li>
          Mike wasn’t just an investor and CEO, he became the “Red Adair” of webcasting and was contracted by
          Ericsson to fly to Iceland with Keiko (Free Willy) to engineer the first video webcast from a plane so
          concerned students across the globe could track his progress.
        </li>
      </ul>
      <p>
        Mike has always been held up as a great strategist and business/corporate development executive but where Mike really
        differentiates from others is in his ability, built by diving in and getting hands-on where needed, to go broader and
        deeper within technological segments to identify opportunities and innovate.
      </p>
      <p>
        Mike was recruited out of brauning to head up wireless data marketing strategy for AT&T and subsequently to spin
        up business development in preparation for its acquisition by Amdocs. Mike helped spin UIEvolution out of Japanese
        gaming giant SquareEnix and funded the transaction by revenue from AT&T and other Carrier deals, growing the company
        from startup to over $30MM in 2012. Mike took two years to focus on non-profit, working with NPOs to do more by
        adopting SaaS technologies and running the Mobile Giving Foundation, which allows users to text donations to NPOs.
        Mike brings a great Audio background as well as truly unique strategy consulting background, methods, and tools to Taida.
      </p>
      <p>
        <strong>Randy Granovetter:</strong> Randy is well known as a pioneer, visionary, and innovator in audio and
        communications. Randy studied Audiology at Vanderbilt, taught at Leslie College and did her graduate work at the
        Kennedy Center establishing protocols for early childhood audio testing that are widely used today. In a theme that
        continues, Randy focused on usability and leveraging technology to solve ground breaking challenges and then her
        renowned enthusiasm and determination to drive market adoption. She won the first Apple Eddy Award for Desktop
        Publishing for her work in headstart and then went on to found Triangle Consulting and was subsequently recruited to
        restart Blythe Software, makers of Omnis, which she grew to be the first cross platform relational database and the
        first Mac front-end for Oracle. In 1993 Randy founded Jabra with the Chairman of Blythe and grew it to be the
        leading mobile headset in North America. As Jabra grew from startup to midcap Randy was recruited by Bill Gates
        to lead Mobile Business Development at Microsoft. Randy spent the next 10 years in Business Development, leading
        seven M&A’s, including a Joint Venture with Qualcomm Corporation, where she spent two years as VP Enterprise for
        QIS before returning to Microsoft to lead Unified Communications, Emerging Markets, and ultimately ran Innovations
        under Ray Ozzie until she left in 2008. Since leaving Microsoft Randy has been inventing + patenting and deploying
        EarPuff&trade; and has run her own Innovation consulting services practice with clients such as Jabra and audio
        technology companies, Input technologies, f100’s and startups.
      </p>
    </div>
  </div>

</div>