<div class="copy">

  <div class="copy-header">
    <div class="inner-copy">
      <h1>Consulting & Transactional Services</h1>
    </div>
  </div>

  <div class="copy-body">
    <div class="inner-copy">
      <p>
        <strong>Strategy</strong>
      </p>
      <p>
        KnuVu is an evolution of brauning, LLC, a Mobile & Emerging Technologies strategy consulting boutique. brauning worked
        with all Tier 1 Carriers, Microsoft, Qualcomm, Network Equipment Providers such as Ericsson and Alcatel Lucent, and more
        than 20 startups and midcap firms. brauning differentiated itself from the larger more established consulting houses by
        building on a base of deep domain expertise and technical competency and working with clients on implementation.
      </p>
      <p>
        In our Strategy practice we leverage Subject Matter Experts (SMEs) to quickly prototype your KnuVu and then support
        with iterations and conclusions. Our transactional execution experience provides us the platform to be very direct
        with Strategic recommendations including optimal pricing structure and go-to-market initiatives.
      </p>
      <p>
        KnuVu principals have lead in category creation and innovation and we find that where other consultancies end at strategy
        and exploration, KnuVu boldly moves into implementation, deployment, and execution.
      </p>
      <p>
        We have worked with large caps and startups and although our core product is the same, we tailor our Strategy services
        and pricing models to each unique company and segment.
      </p>
      <p>
        <strong>Applied Methodology</strong>
      </p>
      <p>
        KnuVu principals and team members will work with your strategy, corporate development, product, marketing, finance, and
        other team members to develop a company or department specific KnuVu. We call this our Applied Methodology practice and
        engagements typically last three weeks to three months depending on the level of complexity and size of teams involved.
      </p>
      <p>
        <strong>KnuVu Review & Analysis</strong>
      </p>
      <p>
        KnuVu engages domain experts across disciplines as varied as coding and hardware engineering to social media and finance.
        We offer sprint review processes for KnuVus that you develop to audit assumptions and look for blind spots or additional
        Points of Analysis or Candidates to include. These sprints typically take two to four weeks.
      </p>
      <p>
        Upon completion of a KnuVu our principals and analysts provide finishing touch services such as analysis, key findings, recommendations, and write-ups, presentations, suggested next steps
      </p>

      <p>
        <strong>Corporate Development</strong>
      </p>
      <p>
        KnuVu is by far the best tool on the market today for fit analysis on both buy side and sell side. We advise large cap
        companies on segment investments and candidate analysis including valuation and qualitative metrics. We are an outsourced
        Corporate Development service for Small Cap companies providing end-to-end accounting, legal, diligence, valuation,
        transactional structure, and execution support. We work with entrepreneurs and our client companies governance Boards to
        optimize total return by evaluating tax optimization, earn-out, and post-acquisition employment contracts.
      </p>
      <p>
        <strong>Transactional Support</strong>
      </p>
      <p>
        From time-to-time KnuVu will also provide transactional support for first transactions or category creation.
        Our process includes engaging potential targets, obtaining feedback, iterating on messaging, collateral, product,
        and then templating first transactions.
      </p>
      <p>
        <strong>Innovation</strong>
      </p>
      <p>
        KnuVu’s Innovation practice is lead by Randy Granovetter who was the founder and CEO of Jabra, headed up global
        business development for Microsoft in Mobile, Collaboration, Unified Communications, and Emerging Markets. Randy
        spent the last two years of her tenure at Microsoft heading up Innovation under Ray Ozzie before starting her own
        Innovation practice.
      </p>
      <p>
        KnuVu’s Innovation methodology has been implemented with teams as small as five, groups as large as 750, and
        enterprise wide at largecaps with over 90,000 employees. Our process is pragmatic and egalitarian.
      </p>
      <p>
        We call KnuVu Innovation “Applied Innovation Execution” because we not only surface opportunities and means
        for innovation but we also provide the path and services where necessary to implement.
      </p>
      <p>
        KnuVu builds on success and empowers a culture of Innovation within the enterprise by providing tools that
        integrate with HR systems and create a platform for institutionalized value creation through Innovation.
      </p>
    </div>
  </div>
 </div>