<div class="copy">

  <div class="copy-header">
    <div class="inner-copy">
      <h1>Support</h1>
      <h2>
        KnuVu 路 600 N 36th St. #415, 路 Seattle, WA 98103 路 www.knuvu.com 路 info@knuvu.com
      </h2>
    </div>
  </div>

  <div class="copy-body">
    <div class="inner-copy">
      <p>
        <strong>Contact Us</strong>
      </p>
      <ul>
        <li>Web Chat</li>
        <li>Email</li>
        <li>Google Voice/Skype</li>
        <li>Form</li>
        <li>Addy/Map</li>
      </ul>
    </div>
  </div>

</div>