<div class="copy">

  <div class="copy-header">
    <div class="inner-copy">
      <h1>KnuVu is a Quantitative Qualitative Multivariate Heatmapping Decision Tool.</h1>
      <h2>A wha-wha-wha? I know, we get it.</h2>
      <p>
        The easiest way to describe it is as a Visual Porter Model when applied to Competitive
        Strategy and Corporate Development.
      </p>
    </div>
  </div>

  <div class="copy-body">
    <div class="inner-copy">
      <p>
        We also use it for Business Capability Modeling, Agile Development, Product Management, Product Marketing,
        Balance Scorecard, etc.
      </p>
      <p>
        By lining up candidates on the Y-axis and Points of Analysis (PoA) in the X-axis, and grouping those PoA’s
        logically, KnuVu is able to provide incredible insight to enterprises. As a default, we heatmap according to
        performance and prioritization. However, we also allow labels to be layered above the heatmap to get descriptive.
      </p>
      <p>
        Finally, and this is where it gets multivariate, we allow multiple inputs per Discrete Point of Analysis (An X,Y
        intersection point, or “dPoA”) so that any PoA may be evaluated on attributes such as time, materials, tasks,
        resources, etc.—all of which would sum up to Cost and then, in addition, we are able to evaluate based on additional
        axis’ such as risk, or confidence.
      </p>
      <p>
        Ready to see what this actually looks like? Here’s a sample KnuVu output:
      </p>

      <p>
        <strong>How we create KnuVu’s:</strong>
      </p>
      <p>
        KnuVu’s are created manually, using a dynamic surveying front-end or by importing structured datasets. We have a
        simple API which allows KnuVu to import or sit on top of your readily accessible or available Data.
      </p>
    </div>
  </div>

</div>