<div class="copy">

  <div class="copy-header">
    <div class="inner-copy">
      <h1>Products</h1>
      <p>
        KnuVu creates a New View into decision making. There are virtually unlimited use cases where KnuVu may be deployed:
      </p>
    </div>
  </div>

  <div class="copy-body">
    <div class="inner-copy">
      <ul>
        <li>Marketing Product/Feature Competitive Analysis</li>
        <li>Stock Performance & Prediction</li>
        <li>Agile Development</li>
        <li>Comparison Shopping</li>
      </ul>
      <p>
        We chose to focus Product offerings initially on areas where pain is great and KnuVu delivers quick high value relief.
        KnuVu was born out of Michael Porter’s ground breaking and enduring work competitive strategy. Building Porter Models
        is expensive, time consuming, and carriers risk of blind spots. We’ve developed a portal to allow quick modeling using
        a Wizard tool that replicates our interview and audit process in creating Porter Models. We call this our Competitive
        Strategy Ecosystem Mapping Portal (CSEMP). Next, we applied this Wizard to a Portal aimed at creating a cost effecting
        egalitarian and empirical tool we call the Business/Corporate Development Portal (BCDP).
      </p>
      <p>
        Our friend and colleague, Ric Merrifield, pioneered heatmapping as a means to focus cost cutting and innovation and we
        have imported Business Capability Modeling Templates from 26 different industry segments to create the ReThink Portal &
        consulting services practice.  And finally, we used KnuVu in one instance to analyze over 600 pages of a Request For
        Information (RFI) data and had such an overwhelmingly positive response that we created a very simple RFI builder,
        response, and Analysis tool we call KnuVuRFI.
      </p>

      <p>
        <strong>Competitive Strategy Ecosystem Mapping Portal (CSEMP):</strong>
      </p>
      <p>
        KnuVu is the quickest way to visually heatmap an ecosystem from high-level broad competitive analysis to detailed
        product/feature analysis. KnuVu provides three means of inputting data:
      </p>
      <ul>
        <li>A Survey Wizard</li>
        <li>Manual Setup and Input</li>
        <li>CSV import and an API for realtime automated data connectivity</li>
      </ul>
      <p>
        Results are obvious and empirical and can be overridden for scenario/war play or consensus in qualitative
        performance analysis.
      </p>

      <p>
        <strong>Business/Corporate Development Portal (BCDP):</strong>
      </p>
      <p>
        By using KnuVu as a front-end to your business and corporate development initiatives enterprises can greatly reduce time
        spent on inbound business development screening. We use CrunchBase and AngelList.co and will incorporate other proprietary
        databases such as Hoover’s if the enterprise has a subscription.
      </p>
      <p>
        KnuVu BCDP levels the playing field and lowers the risk of cronyism or suboptimal analysis. It focuses the enterprise
        on selecting the right partners for the right reasons. Justification requires less prose as decisions are visually
        understandable by all parties from frontline staff to executives.
      </p>

      <p>
        <strong>Business Capability Modeling Portal (ReThink&trade;):</strong>
      </p>
      <p>
        Ric Merrifield’s seminal work at Microsoft on the Motion Methodology and his book
        “<a href="http://ricmerrifield.com/" target="_BLANK">Rethink, A business manifesto for cutting costs and boosting innovation</a>” are
        innovative and intensely relevant in today’s economy. As we developed KnuVu we worked with Ric to create a ReThink
        tool. ReThink cuts across departmental segmentation to analyze an enterprise and drive discreet opportunities for
        innovation and cost cutting. KnuVu has imported Business Capability Models from 26 different SIC segments to provide
        a measurement and decision portal that maps to virtually any company.
      </p>

      <p>
        <strong>KnuVu Request For Information Portal (RFI):</strong>
      </p>
      <p>
        KnuVu RFI allows companies to issue RFI’s and RFPs in an egalitarian manner and iterate with prospective vendors
        quickly and easily based upon first round responses. Information is secure, unique, and analysis is instantaneous.
        Return on Investment for deploying the KnuVu RFI is usually captured within the first RFI issuance.
      </p>
    </div>
  </div>

</div>