<div class="copy">

  <div class="copy-header">
    <div class="inner-copy">
      <h1>Professional Services</h1>
      <h2>Services Overview</h2>
      <p>
        KnuVu currently has a bench of approximately 40 consultants ranging from Partner Level resources to Analysts
        providing a variety of services in several fields including Competitive Strategy, Innovation and Ecosystem
        Mapping and Research. We offer a number of different services to meet your company’s needs:
      </p>
    </div>
  </div>

  <div class="copy-body">
    <div class="inner-copy">
      <ul>
        <li>Competitive Strategy (Link out to Strategy)</li>
        <li>Mobile and Emerging Technologies and Corporate Development (Link out to Corporate Development)</li>
        <li>Innovation (Link Out to Innovation)</li>
        <li>Agile Development</li>
        <li>Innovation & Cost Cutting (via ReThink)</li>
        <li>Ecosystem Mapping & Research</li>
        <li>Product Management and Product Marketing
          <ul>
            <li>Features/Benefits Analysis</li>
            <li>Competitive Analysis</li>
            <li>Development Prioritization</li>
          </ul>
        </li>
      </ul>

      <p>
        <strong>Implementation, Development, Customization, Guidance, Support:</strong>
      </p>
      <p>
        KnuVu provides end-to-end support to deploy our tools including <a href="javascript:void(0)">Consulting Services</a> to
        get your Specific KnuVu up and running.  We have an easy-to-use API that developers may use to integrate data sources, but we
        also provide our own development resources to help implement develop, customize, or guide your team. We also provide full
        support services and maintenance contracts for our hosted services.
      </p>

      <p>
        <strong>System Integration:</strong> KnuVu has been architected with easy to use web services to allow your team to link data sources or feeds directly to KnuVu.  Should you require customization or implementation support KnuVu has an internal team as well as several System Integration Partners (Link to Partners) who can support your requirements.
      </p>
      <p>
        <strong>Riding Shotgun:</strong> We offer packages for you and your internal staff to have a KnuVu Consultant ride
        shotgun with you on your KnuVu model and provide review, guidance, or support as you require.
        <br>
        <strong>Support:</strong> We offer unlimited support for our Pro users and Forum or Webmail support for Freemium
        customers. If you have a quick question we can help you with that’s outside of support, we’ll probably just help you out.
        If it requires more than a quick response, we’ll probably provide you with a proposal for support.
      </p>

      <p>
        <strong>Training:</strong> We will provide the appropriate training to get you started. We have a number of website
        materials, however, if you require additional assistance we also provide custom training tailored for your company.
        <a href="javascript:void(0)">Click here for more information</a>.
      </p>
      <p>
        <strong>Training:</strong>
      </p>
      <p>
        KnuVu is new. It’s a different way of looking at things and while it’s straight forward for us we know it may not be
        for you. There’s a different language we use that cuts across the many different disciplines in your organization,
        from Finance to Development to Supply Chain. We host Webinars regularly and have YouTube Channel, Guides, FAQ, a
        Knowledge Base and a Forum.
      </p>
      <p>
        If you require more than what is offered online or want to scale up and educate your team we also provide onsite
        training. Here is a list of Training Services we offer:
      </p>
      <p>
        <strong>Webinars:</strong> We hold regularly scheduled Webinars on KnuVu to show how to get up and running with your
        KnuVu Model. From time-to-time we hold guest and co-branded Webinars with Subject Matter Experts (SMEs) on topics
        ranging from using KnuVu for Agile Development Backlog Prioritization to KnuVu ROI Tracking.
        <a href="javascript:void(0)">Click here for our Current Schedule of Events</a>.
      </p>
      <p>
        <strong>YouTube:</strong> <a href="javascript:void(0)">Visit our YouTube Channel</a> for a full list of KnuVu Videos
        or visit our <a href="javascript:void(0)">Guides</a> page for KnuVu Service How To’s.
      </p>
      <p>
        <strong>Onsite:</strong> KnuVu provides Onsite prepackaged and custom built Training sessions for enterprises.  Rates start at $2,500/day plus travel for up to 8 attendees.
      </p>
      <p>
        <strong>Guides:</strong> <a href="javascript:void(0)">Click here for our KnuVu How to Guides</a>.
      </p>
    </div>
  </div>

</div>